.main{
    position: fixed;
    width: 25rem;
    height: 16rem;
    background-color: lightgrey;
    top: 15%;
    left: 35%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.close{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: larger;
    cursor: pointer;
}